@model IEnumerable<AssignmentCodeFirstMVC.Models.Student>

@{
    ViewBag.Title = "Search_View_By_City";
}

<h2>Search_View_By_City</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Stud_Branch)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stud_City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stud_Percentage)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Stud_Branch)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stud_City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stud_Percentage)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StudentID }) |
            @Html.ActionLink("Details", "Details", new { id=item.StudentID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StudentID })
        </td>
    </tr>
}

</table>
